<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->

<h2><%= params[:query] %></h2>
<p>--You</p>
<hr>
<h2><%= @answer %></h2>
<p>--Your coach</p>

<%= link_to "Ask a new question", ask_path %>
